@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Libraries Gallery";
}
<h2>Hello,Glendon Ton <a href="#">My Purchases<a>|<a href="#">Logout</a></h2>