
@{ 
    ViewData["Title"] = "View Cart";
    List<Cart> itemsInCart = (List<Cart>)ViewData["ItemsInCart"];

    // prepare naming of cart items
    int types = itemsInCart.Count;
    string[] minusQuantityButtonID = new string[types];
    string[] addQuantityButtonID = new string[types];
    string[] deleteItemButtonID = new string[types];
    string[] priceID = new string[types];
    string[] quantityID = new string[types];
    string[] totalID = new string[types];

}

<style>
    .center_div{
        position:absolute;
        left:50%;
        transform:translateX(-50%);
    }

    .cart_item_photo {
        height: 80pt;
        width: 80pt;
        height: 60pt;
        width: 60pt;
    }

    .cart_table{
        width:600pt;
    }

    .cart_table td {
        width:300px;
        text-align: center;
        border: solid 2px white;
    }

    .cart_table thead{
        background-color:black;
        color:white;
    }

    .cart_table thead tr{
        height: 30px;
    }

    .cart_table tbody{
        background-color:aliceblue;
    }

    .cart_table tbody tr{
        height:120px;
    }

    .cart_action_buttons {
        vertical-align: central;
        backface-visibility:hidden;
        background-color:transparent;
        border:none;
    }

    .cart_action_buttons img{
        width:12pt;
        height:12pt;
    }

    .cart_check_out_button {
        background-color: black;
        color: white;
        border: none;
        width: 120pt;
        height: 20pt;
        font-size: 14pt;
        text-align:center;
        vertical-align:central;
    }

    .counter_table{
        width:600pt;
    }

    .counter_table tr{
        height:32pt;
    }

    .counter_table td {
        text-align:right;
        font-size:16pt;
    }
</style>

<div class="center_div" id="CartPageTable">
    <h2>    Cart</h2>
    <table class="cart_table">
        <thead>
            <tr>
                <td>Product</td>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
                <td>Action</td>
            </tr>
        </thead>
        <tbody>
            @for (int itemIndex = 0; itemIndex < itemsInCart.Count; itemIndex++)
            {
                string url = itemsInCart[itemIndex].Product.ImageLink;
                url = url.StartsWith("~") ? url.Substring(1) : url;

                minusQuantityButtonID[itemIndex] = "minusQuantityButtonID" + itemIndex;
                addQuantityButtonID[itemIndex] = "addQuantityButtonID" + itemIndex;
                deleteItemButtonID[itemIndex] = "deleteItemButtonID"+itemIndex;
                priceID[itemIndex] = "priceID" + itemIndex;
                quantityID[itemIndex] = "quantityID" + itemIndex;
                totalID[itemIndex] = "totalID" + itemIndex;

                <tr>
                    <td><img src=@url class="cart_item_photo" /></td>
                    <td><span>@itemsInCart[itemIndex].Product.Name</span></td>
                    <td><span id=@priceID[itemIndex]>@itemsInCart[itemIndex].Product.Price</span></td>
                    <td>
                        <button class="cart_action_buttons" id=@minusQuantityButtonID[itemIndex]><img src="/images/minusSymbol.png"></button>
                        <span id=@quantityID[itemIndex]>@itemsInCart[itemIndex].Quantity</span>
                        <button class="cart_action_buttons" id=@addQuantityButtonID[itemIndex]><img src="/images/addSymbol.png"></button>
                    </td>
                    <td><span id=@totalID[itemIndex]>later do</span></td>
                    <td><button class="cart_action_buttons" id=@deleteItemButtonID[itemIndex]><img src="/images/deleteSymbol.png"></button></td>
                </tr>
            }
        </tbody>
    </table>
    
    <table class="counter_table">
        <tr></tr>
        <tr>
            <td>Total: <span>(later..)</span></td>
        </tr>
        <tr>
            <td><button class="cart_check_out_button" id="checkoutButton">CheckOut</button></td>
        </tr>
        <tr></tr>
    </table>
</div>
