@{
    ViewData["Title"] = "ItemCart";
    List<Cart> itemsInCart = (List<Cart>)ViewData["ItemsInCart"];
}

<style>
    .center_div {
        position: absolute;
        top: 30%;
        left: 50%;
        transform: translate(-50%,-50%);
    }
</style>

<div class="center_div">
    <h2>Cart</h2>
    <table>
        <thead>
            <tr>
                <td>Product</td>
                <td>Name</td>
                <td>Price</td>
                <td>Quantity</td>
                <td>Total</td>
                <td>Action</td>
            </tr>           
        </thead>

        <tbody>
            @for(int itemIndex = 0; itemIndex < itemsInCart.Count; itemIndex++)
            {
                <tr>
                    <td><img src="" /></td>
                    <td><span>@itemsInCart[itemIndex].Product.Name</span></td>
                </tr>
            }
        </tbody>
    </table>
</div>